body
{
    text-align: center;
    align-items: center;
    color: rgb(255, 251, 0);
    background-image:url("../Pelatihan/badminton/bg.webp");
    position: absolute;
}

img
{ 
    height: 250px;
    width: 200px;
}
.card
{
    margin: 7px;
    padding: 7px;
    background-color: rgb(4, 155, 210);

    float:left;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}