.container
{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}
ul
{
    text-align: left;
}
h1
{
    text-align: center;
}

.container > div
{
    background-color: aqua;
    margin : 2rem;
    overflow: scroll;
    height: 50%;
}