body
{
    background-image: url("../Pelatihan/laptop/bg.jfif");
    color: yellow;
}
h1
{
    background-color: rgba(240, 248, 255, 0.306);
    text-align: center;
    color: yellow;
    position: sticky;
    top: 0;
    padding: 10px;
}
p::first-line
{
    font-size: larger;
    font-weight: bold;
}
img
{
    height: 220px;
    width: 200px;
}
.card
{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 1rem 1rem;
}

.card > div
{
    background-color: rgba(132, 122, 242, 0.317);
    text-align: center;
    border: solid;
    transition: 0.4s;
}
.card > div:hover
{
    transform: scale(1.1); 
}


div,
div:nth-child(-n+3)
{
    margin-top: 0;
}
div:nth-child(n+4)
{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
div:nth-child(n+7)
{
    margin-top: 0;
    margin-bottom: 0;
}
.flex{
    flex: 30%;

}