body
{
    background-image: url("../Pelatihan/laptop/bg.jfif");
    color: yellow;
}
h1
{
    top: 0;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 242, 0, 0.648);
    padding: 10px;
    margin: 10px;
    position:sticky;
    
}
p::first-line
{
    font-size: larger;
    font-weight: bold;
}
img
{
    height: 220px;
    width: 200px;
}
.card
{
    display: grid;
    grid-template-columns: auto auto auto;
}

.card > div
{
    background-color: rgba(6, 6, 6, 0.317);
    text-align: center;
    border: solid;
   margin: 50px;
    transition: 0.4s;
}
.card > div:hover
{
    transform: scale(1.1); 
}

div,
div:nth-child(-n+3)
{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

div:nth-child(n+4)
{
    margin-top: 0;
    margin-bottom: 1rem;
}
div:nth-child(n+7)
{
    margin-top: 0;
    margin-bottom: 1rem;
}
div:nth-child(n+10)
{
    margin-top: 0;
    margin-bottom: 1rem;
}
div:nth-child(n+13)
{
    margin-top: 0;
    margin-bottom: 1rem;
}
div:nth-child(n+16)
{
    margin-top: 0;
    margin-bottom: 2;
}