menu{
    display: flex;
    margin-top: 0px;
    background-color: rgb(44, 231, 231);
   
}

section{
  
    width: 1100px;
}
aside{
   
    width: 600px;
    height: 1000px;
    padding-left: 100px;
    background-color: rgb(102, 136, 167);
    padding-right: 100px;
}