
    <table mat-table [dataSource]="employs">
        
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let emp"> {{emp.id}} </td>
          </ng-container> 

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let emp"> {{emp.name}} </td>
          </ng-container>

        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Position </th>
            <td mat-cell *matCellDef="let emp"> {{emp.position}} </td>
          </ng-container>

        <ng-container matColumnDef="availability">
            <th mat-header-cell *matHeaderCellDef> Availability </th>
            <td mat-cell *matCellDef="let emp"> {{emp.availability}} </td>
          </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let emp" > <a [routerLink]="['..','detail' ,emp.id]"  >  {{emp.action}}</a>  </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    

    