<h1>Payment</h1>
<table>
    <tr *ngFor = "let item of (items| async)">
        <td><span>{{ item.amount }} x {{item.name}}</span></td>
        <td><span>Rp. {{item.Harga}}</span> </td>
        <td> <button type="button" class="btn btn-outline-danger" (click)="removeitem(item)"> Remove</button></td>
     

       
    </tr>

    <tr class="tot" >
        <ng-template *ngIf="(items | async)?.length then totalPayment; else noItem"></ng-template>
        <ng-template #totalPayment >
        <td colspan="3"> Total : {{total | async | currency : 'IDR' : 'symbol-narrow' : '2.2'}}</td>
    </ng-template>
    <ng-template #noItem >
        <td  > No Item Selected</td>
    </ng-template>
    </tr>
</table>