h1{
    text-align: center;
    margin-top: 20px;
}

button{
    margin-left: 20%;
    height: 30px;
    border: 1.5px solid white;
    background-color: rgb(49, 0, 245);
    width: 100px;
    border-radius: 5px;
    color: white;
    margin-top: 5px;
}
table{
    border: 1px solid;
    width: 600px;
    border-spacing: 20px;
    
    
}
span{
    font-size: 21px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

button:hover{
scale: 1.1;
    background-color: aliceblue;
    color: black;
}

.tot{
    font-size: 21px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: bold;
text-align: center;

}
